@{
    ViewData["Title"] = "One Stop Recruitment";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i|Material+Icons">
    <link rel="stylesheet" href="~/assets/uni/login/css/style.css">
    <link rel="stylesheet" href="~/dev/css/style.css">
</head>
<body>
    <div class="site" id="page">
        <section class="M--login type--1 U--fixed-layout">
            <div class="exception-area">
                <div class="exception-text">
                    We'll be back soon! Please try again later!
                </div>
            </div>
        </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="~/assets/uni/login/js/script.js"></script>
</body>
</html>