@model OneStopRecruitment.Areas.UserArea.ViewModels.UserViewModel
@using Model.DBConstraint
@{
    ViewData["Title"] = "Update Password";

    Layout = "~/Views/Shared/_Layout.cshtml";
    var ErrorMessage = Convert.ToString(TempData["ErrorMessage"]) ?? "";
}

@await Component.InvokeAsync("Breadcrumb")
<section class="form-area">
    <form class="M--form type--1" asp-action="UpdatePassword" asp-area="UserArea" asp-controller="Staff" method="post"
          onsubmit="showAlert('@BaseConstraint.NotificationType.Loading', '@AlertConstraint.Default.Loading')">
        <input asp-for="User.IDUser" hidden />
        <div class="form__field">
            <label class="field__label">Old Password<span class="mandatory">*</span></label>
            <input asp-for="User.OldPassword" type="password" class="C--textbox type--1" autocomplete="off" placeholder="Old Password">
            <span asp-validation-for="User.OldPassword" class="text-error"></span>
        </div>
        <div class="form__field">
            <label class="field__label">New Password<span class="mandatory">*</span></label>
            <input asp-for="User.Password" type="password" class="C--textbox type--1" autocomplete="off" placeholder="New Password">
            <span asp-validation-for="User.Password" class="text-error"></span>
        </div>
        <div class="form__field">
            <label class="field__label">Confirm Password<span class="mandatory">*</span></label>
            <input asp-for="User.ConfirmPassword" type="password" class="C--textbox type--1" autocomplete="off" placeholder="Confirm Password">
            <span asp-validation-for="User.ConfirmPassword" class="text-error"></span>
        </div>
        <div class="form__action">
            <button type="submit" class="C--button type--1 -theme-primary">Submit</button>
        </div>
    </form>
</section>